extends layout
block content
    br
    h1.impform Lezioni dello studente 
    .impform
        h2 Riepilogo lezioni
        table.tabella
            thead
                tr
                    th Materia 
                    th Data <!--Firma-->
                    th Ora <!--Firma-->
                    th Argomento <!--Firma-->
                    th Compiti Assegnati <!--Firma-->
                    th Professore
            tbody    
                each lezione in lezioni
                    tr       
                        td #{lezione.Materia}
                        td #{lezione.DataFirma}
                        td #{lezione.Ora}
                        td #{lezione.Argomento}
                        if lezione.CompitiAssegnati
                            td #{lezione.CompitiAssegnati}
                        else
                            td Nessun compito assegnato
                        td #{lezione.Cognome} #{lezione.Nome}

    br
