extends layout
block content
    br
    h1.impform Profilo
    br
    .flip-card
        .flip-card-inner
            .flip-card-front
                br
                br
                h2 Benvenuto
                h2 #{datiStudente.Cognome} #{datiStudente.Nome}
                br
                br
                br
                br
                h5 Tocca per informazioni aggiuntive               
            .flip-card-back
                br
                h3 Dati dello studente
                h4 CF: #{datiStudente.CFPersona}
                h4 Cognome: #{datiStudente.Cognome}
                h4 Nome: #{datiStudente.Nome}
                h4 Username #{datiStudente.Username}
                h4 Data di nascita: #{datiStudente.DataNascita}
                if datiStudente.Sesso === true
                    h4 Sesso: Femmina
                else
                    h4 Sesso: Maschio